body {
  font-family: Arial, Helvetica, sans-serif;
}
.color {
  color: rgb(185, 109, 9);
}
main {
  padding: 0 8%;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  margin: 0;
  padding: 0;
}
.blog-1 {
  width: 50%;
  padding-left: 12%;
  padding-top: 11%;
}
.blog-1 img {
  width: 75%;
  margin-top: -100px;
}

.section_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
}

.stay_focus_div {
  border-left: 3px solid #df2525;
  padding-left: 15px;
}
.stay_focus_div h1 {
  font-size: 62px;
  font-weight: bold;
}
.ankor {
  text-decoration: none;
  background-image: linear-gradient(#df2525, rgb(240, 127, 127));
  padding: 10px 40px;
  border-radius: 5px;
  color: wheat;
  width: 700;
}
.mission {
  color: rgb(4, 4, 88);
  text-align: center;
}
.mission-2 {
  color: rgb(235, 134, 98);
  text-align: center;
}

.c4-color {
  color: peru;
  text-align: center;
  width: 700;
}
.color4 {
  color: black;
  text-align: center;
  width: 700;
}
.color-5 {
  color: peru;
}
.mission_section {
  background-color: rgba(54, 212, 251, 0.13);
  border: 2px solid rgb(74, 122, 224);
}
.vission_section {
  background-color: rgba(250, 145, 126, 0.575);
  border: 2px solid rgba(250, 145, 126, 0.918);
}
.goals_section {
  background-color: pink;
  border: 2px solid rgb(253, 139, 158);
}
.images-deration {
  width: 300px;
  height: 320px;
  overflow: hidden;
  padding: 15px;
  margin: 5px;
  border-radius: 27px;
}
.images-deration img {
  width: 100px;
}
.images-deration-2 img {
  width: 350px;
}
.img-design-1 img {
  width: 350px;
  height: 350px;
  /* margin-left: 9%; */
  /* margin-left: -15px; */
}
.develop {
  display: flex;
  align-items: center;
  /* padding: 10%; */
}
.dev-bg {
  background-image: url(images/shapes/dream-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.develop_content {
  margin-left: 250px;
}
.develop_text {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 45px;
}
.develop_paragraph {
  width: 450px;
  font-size: 14px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 50px;
  margin-left: 45px;
}
.develop_button {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background: tomato;
  padding: 15px 30px;
  border-radius: 15px;
  margin-left: 45px;
  margin-bottom: 45px;
}
.hmm {
  margin: 5%;
}
.lol {
  color: #df2525;
}
